.fixed-top {
    padding-top: 0px;
    padding-bottom: Opx;
}
.dropbtn {
    color: white;
    background-color: #343a40;
    padding: 10px;
    font-size: 16px;
    border: none;
    min-width: 100px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#343a40;
    min-width: 100px;
}

.dropdown-content a {
    color: #343a40;
    text-decoration: none;
}

.dropdown-content a:hover {background-color: #585858 }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #585858;
}
